@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
/*possibilité d'importer des typos dès le début*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    background: #333333;
    color: #F2F2F2;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 10%;
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-container {
    display: flex;
    flex: 0 0 40%;
}

.logo {
    font-size: 1.5em;
    display: flex;
    color: #F2F2F2;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo p {
    display: inline-block;
}

.logo p:nth-of-type(1) {
    position: relative;
    left: 0.31em;
    animation: logoRight 2s infinite;
    animation-delay: 1s;
}

.logo p:nth-of-type(2) {
    position: relative;
    bottom: 0.125em;
    font-weight: 700;
    animation: logoUp 6s infinite;
    animation-delay: 1s;
}

.logo p:nth-of-type(3) {
    position: relative;
    right: 0.31em;
    animation: logoLeft 2s infinite;
    animation-delay: 1s;
}

.navbar {
    display: flex;
    flex: 0 0 60%;
}

.nav-list {
    display: flex;
    overflow-x: auto;
}

.nav-list::-webkit-scrollbar {
    width: 0;
}

.nav-list::-webkit-scrollbar-corner {
    background-color: transparent;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:nth-of-type(1){
    --i: 1;
}

.nav-item:nth-of-type(2) {
    --i: 2;
}

.nav-item:nth-of-type(3) {
    --i: 3;
}

.nav-item:nth-of-type(4) {
    --i: 4;
}

.nav-item:nth-of-type(5) {
    --i: 5;
}

.nav-item a {
    font-size: 1.2em;
    color: #F2F2F2;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2em;
    transition-delay: .1s;
}

.nav-list .nav-item {
    flex: 0 0 auto;
    opacity: 0;
    transition-delay: .1s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav-item a:hover, .nav-item a.active {
    color:#D19A66;
}

/* Contenu HOME ---------------------------------------------------------------------------*/

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 10% 0;
    opacity: 1;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 10% 0;
    opacity: 0;
}

.section.actif {
    animation: opacity 1s ease forwards;
}

.home-content {
    max-width: 60%;
}

.home-content h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: -0.19em 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 2em;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-last-of-type(1) {
    margin-bottom: 1em;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #D19A66;
}

.cursor {
    display: inline-block;
    width: 0.25em;
    height: 1em;
    background-color: #F2F2F2;
    vertical-align: middle;
    animation: blink-caret 0.5s step-end infinite alternate;
}

.home-content p {
    font-size: 1em;
    text-align: justify;
    font-weight: 500;
    opacity: 0;
    margin: 0.06em 0 0 0;
}

.home-content p:nth-of-type(2n+1) {
    animation: slideLeft 1s ease forwards, RightLeft 3s ease-in-out infinite;
    animation-delay: 1s, 2s;
}

.home-content p:nth-of-type(2n) {
    animation: slideRight 1s ease forwards, LeftRight 3s ease-in-out infinite;
    animation-delay: 1s, 2s;
}

.home-content p:nth-of-type(2),
.home-content p:nth-of-type(4) {
    margin-left: 1.5em;
}

.home-content p:nth-of-type(3),
.home-content p:nth-of-type(5) {
    margin-left: 2.5em;
}

.social-media a:nth-child(1) {
    --i: 7;
}

.social-media a:nth-child(2) {
    --i: 8;
}

.social-media a:nth-child(3) {
    --i: 9;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    border: 0.125em solid #D19A66;
    border-radius: 50%;
    font-size: 1.4em;
    color: #D19A66;
    text-decoration: none;
    margin: 1.5em 1.4em 1.5em 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: #D19A66;
    color: #333333;
    box-shadow: 0 0 1.4em #D19A66;
}

.btn {
    display: inline-block;
    padding: 0.75em 2.5em;
    background: #D19A66;
    border-radius: 2.5em;
    box-shadow: 0 0 0.62em #D19A66;
    font-size: 1em;
    color: #333333;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.home-img img {
    max-width: 90%;
    display: flex;
    margin-right: -1.4em;
    box-shadow: 0 0 1.4em #D19A66;
    border-radius: 50%;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

/* Contenu ABOUT ----------------------------------------------------------------*/

.about-content {
    max-width: 90%;
}

.about-content h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: -0.19em 0;
    opacity: 0;
}

.section.actif .about-content h1{
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}

.about-content p {
    font-size: 1em;
    text-align: justify;
    margin-top: 2em;
    opacity: 0;
}

.section.actif .about-content p {
    animation: slideTop 1s ease forwards;
    animation-delay: .4s;
}

/* Contenu SKILLS ---------------------------------------------------------------*/

.skills-content {
    max-width: 100%;
}

.skills-content h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: -0.19em 0;
    opacity: 0;
}

.section.actif .skills-content h1 {
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}

.skills p:nth-of-type(1) {
    --i: 1;
}

.skills p:nth-of-type(2) {
    --i: 2;
}

.skills p:nth-of-type(3) {
    --i: 3;
}

.skills p:nth-of-type(4) {
    --i: 4;
}

.skills p:nth-of-type(5) {
    --i: 5;
}

.skills p:nth-of-type(6) {
    --i: 6;
}

.skills p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    border: 0.05em solid #D19A66;
    border-radius: 50%;
    font-size: 3em;
    color: #D19A66;
    text-decoration: none;
    cursor: default;
    margin: 1.5em 0.75em 1.5em 0;
    opacity: 0;
}

.section.actif .skills-content .skills p {
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.section.actif .skills-content .skills p:hover {
    background: #D19A66;
    color: #333333;
    box-shadow: 0 0 1.4em #D19A66;
}


/* Contenu PORTFOLIO ---------------------------------------------------------- */

.portfolio-content {
    max-width: 100%;
}

.portfolio-content h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: -0.19em 0;
    opacity: 0;
}

#workDescribe h3 {
    color: #D19A66;
    font-size: 2em;
    font-weight: 700;
    opacity: 0;
}

.section.actif .portfolio-content h1 {
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}

.section.actif .portfolio-content .portfolio-text h3 {
    animation: slideTop 1s ease forwards;
    animation-delay: .4s;
}

.workLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background-color: #D19A66;
    border-radius: 50%;
    font-size: 3em;
    color: #333333;
    text-decoration: none;
    margin: 1.5em 0.75em 1.5em 0;
    opacity: 0;
}

.workLink:nth-of-type(1) {
    --i: 1;
}

.workLink:nth-of-type(2) {
    --i: 2;
}

.workLink:nth-of-type(3) {
    --i: 3;
}

.workLink:nth-of-type(4) {
    --i: 4;
}

.workLink:nth-of-type(5) {
    --i: 5;
}

.section.actif .portfolio-content .workLink {
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.3s * var(--i) + .5s);
}

/* Contenu CONTACT -------------------------------------------------------------- */

#contact {
    display: block;
}

.header-contact {
    display: block;
    text-align: left;
    width: 100%;
}

.header-contact h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin: -0.19em 0 2.5em 0;
    opacity: 0;
}

.section.actif .header-contact h1 {
    animation: slideRight 1s ease forwards;
    animation-delay: .2s;
}

.mailLinkedIn,
.phoneInstagram,
.homeGithub {
    display: flex;
    width: 100%;
    height: 3em;
    vertical-align: middle;
    opacity: 0;
    margin: 1em 0 1em 0;
}

.section.actif .mailLinkedIn {
    animation: slideLeft 1s ease forwards;
    animation-delay: .4s;
}

.section.actif .phoneInstagram {
    animation: slideRight 1s ease forwards;
    animation-delay: .4s;
}

.section.actif .homeGithub {
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.mailLinkedIn a,
.phoneInstagram a,
.homeGithub a {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    border: 0.12em solid #D19A66;
    border-radius: 50%;
    font-size: 1.4em;
    color: #D19A66;
    text-decoration: none;
    transition: .5s ease;
    margin-right: 1.4em;
}

#contact p {
    display: inline-flex;
    vertical-align: middle;
    justify-content: left ;
    align-items: center;
    height: 2.5em;
    width: 20em;
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    margin-right: 2em;
}


.section.actif a:hover {
    background: #D19A66;
    color: #333333;
    box-shadow: 0 0 1.4em #D19A66;
}

/* Définition couleur codage ------------------------------------------------- */
.pCyan{
    color: #4EC9B0;
}

.pBlue{
    color: #1E90FF;
}

.pGreen{
    color: #6AA84F;
    font-style: italic;
}

.pRed{
    color: #FF7F7F;
}

.pPurple{
    color: #AF95C6;
}

.pYellow{
    color: #FFFF99;
}

.pOrange{
    color: #D19A66;
}

/*KEYFRAMES ANIMATTION*/

@keyframes logoLeft {
    0% {
        transform: translateX(0);
    }

    50%{
        transform: translateX(-0.3em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes logoRight {
    0% {
        transform: translateX(0);
    }

    50%{
        transform: translateX(0.3em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes logoUp {
    0% {
        transform: translateY(0);
    }

    25%{
        transform: translateY(-0.5em);
    }

    50%{
        transform: translateY(0);
    }

    75%{
        transform: translateY(-0.5em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-5em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(5em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-5em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(5em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes RightLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes LeftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomHover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.5em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
      width: 100%;
    }
}

@keyframes blink-caret {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: #F2F2F2;
    }
    100% {
        background-color: transparent;
      }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


/* Small devices (vertical phones) */

@media (max-width: 576px) {

    body {width: 100%; margin: 0 auto;}
    .header {font-size: 0.5em;} 
    .logo {display: none;}

    .section {height: 150vh;max-width: 100%;}
    .section h1 {font-size: 2.2em;}
    .section h3 {font-size: 1.2em;}
    .section p {font-size: 0.8em; font-weight: 500;}

    #home {flex-direction: column;padding: 2em 10% 0;margin-top: 7em;}
    .home-content {order:1; max-width: 100%;}
    .home-content h1 {font-size: 2.2em;}
    .home-content h3 {font-size: 1em;}
    .home-content p {font-size: 0.70em;}
    .social-media a {width: 2.5em; height: 2.5em; font-size: 1.5em; margin: 0.5em 1em 0.5em 0;justify-content: center;}
    .btn {font-size: 1em; padding: 0.5em 2.5em;max-width: 100%; justify-content: center; margin-top: 1em;}
    .home-img {order:0; max-width: 60%;justify-content: center;margin: 0 0 1em 0;} 

    .skills-content {max-width: 100%;}
    .skills p {width: 2.5em; height: 2.5em; font-size: 2.5em; margin: 1em 0.25em 0.5em 0;}

    .portfolio-content {max-width: 100%;}
    .workLink {width: 2.5em; height: 2.5em; font-size: 1.5em; margin: 0.5em 0.25em 0.5em 0;}
    .workLink:nth-of-type(4), .workLink:nth-of-type(5) {display:none;}
    #workIn {font-size: 1.2em;}

    .header-contact h1 {margin-bottom: 1em;}
    .mailLinkedIn, .phoneInstagram, .homeGithub {display:flex; flex-wrap: wrap;max-width:100%; height: 3em; margin:0.3em 0 0.3em 0;}
    .mailLinkedIn a, .phoneInstagram a, .homeGithub a {display:flex; flex-wrap:wrap; flex: 1 1 auto ;width: 2.5em; height: 2.5em; font-size: 1.5em; margin: 1em 1em 1em 0;}
    .mailLinkedIn p, .phoneInstagram p, .homeGithub p {display:flex; flex-wrap:wrap; flex: 1 1 auto; height: 2.5em; font-size: 0.75em; margin: 1em 0 1em 0;}
    }
    
    /* Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 576px)and (max-width: 767px) {}
    
    /*  Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) and (max-width: 991px) {
    
    body {width:90%;  margin: 0 auto; }
    
    .section {width:70%; float:left; }
    
    }
    